body {
    background-color: #dedbd2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
}

.dropdown {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.btn-secondary {
    background-color: #b0c4b1 !important;
    border-color: #b0c4b1 !important;
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: auto;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.active {
    background-color: #4a5759 !important; /* to keep the hover color when button is clicked */
    border-color: #b0c4b1 !important;
    color: white;
}

.dropdown .dropdown-menu {
    background-color: #b0c4b1 !important;
    text-align: center;
    padding: 0;
    width: 200px;
}

.dropdown .dropdown-item {
    color: black !important;
    font-weight: bold;
    padding: 12px 16px;
}

.dropdown .dropdown-item:hover {
    background-color: #4a5759 !important;
    color: #fff !important;
}
