#puzzleCanvas {
    display: block;               
    margin: 0 auto;              
    border: 2px solid #000;    
    box-sizing: border-box;       
}

body {
    background-color: #dedbd2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
}

.difficulty-buttons {
    text-align: center;
    margin-top: 20px;
}

.difficulty-btn {
    margin: 0 10px;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 5px;
}

.difficulty-btn:hover {
    background-color: #4a5759;
    color: white;
}

#puzzle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
